global
  maxconn 4096
    pidfile ~/tmp/haproxy-queue.pid

defaults
  log global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  mode http
  timeout connect 300000
  timeout client 300000
  timeout server 300000
  maxconn 2000
  option redispatch
  retries 3
  option httpclose
  option httplog
  option forwardfor
  option httpchk HEAD / HTTP/1.0

frontend http-farm
  bind *:9000
  default_backend xitrum

backend xitrum
  balance roundrobin
  option forwardfor
  server  app1 127.0.0.1:8001 check inter 5000 rise 2 fall 5
  server  app2 127.0.0.1:8002 check inter 5000 rise 2 fall 5
  server  app3 127.0.0.1:8003 check inter 5000 rise 2 fall 5

listen haproxyapp_admin:9100 127.0.0.1:9100
  mode http
  stats uri /
