- import matsuri.demo.action._

h3 ChatIndex

a(href={url[Logout]}) =t("Logout")

hr

div.row
  div.col-md-12#output(style="overflow-x: hidden; overflow-y: auto;")

br

div.row#controller
  div.row
    div.well.row.form-group
      div.row
        label.col-sm-2.control-labe(for="message") Message
        div.col-sm-8.input-group
          input.form-control(type="text" id="msg" placeholder="Type text here")
          span.input-group-btn
            button.btn.btn-default#btn_send Send

-
  jsAddToView(
    // This is durty snippets just for demo.
    "var url = '" + sockJsUrl[Chat] + "';" +
    """
    var socket;
    var counter = 0;
    var callbacks = {};

    $("#btn_send").on("click",function(e){
      e.preventDefault();
      var pushRequest = {
        tag:"push",
        cmd:"text",
        body:$("#msg").val(),
        seq:counter
      }
      callbacks[counter] = function(obj){
        var text;
        if(obj.error === 0){
          text = '<b>[Success: Push to HUB]</b><br />';
          text = text + xitrum.escapeHtml(JSON.stringify(obj.msg)) + '<br />';
        } else {
          text = '<b style="color:red">[Fail: Push to HUB]</b>'+obj.error+'<br />';
        }
        xitrum.appendAndScroll('#output', text);
      }
      socket.send(JSON.stringify(pushRequest));
      counter++;
    });

    var initSocket = function() {
      socket = new SockJS(url);
      socket.counter = 0;

      socket.onopen = function(event) {
        //var text = '<b>[Socket is open]</b><br />';
        //xitrum.appendAndScroll('#output', text);
        var initRequest = {
          tag:"pull",
          cmd:"latest10Msg",
          seq:counter
        }
        callbacks[counter] = function(obj){
          console.log("Callback for Initial latest10msg request", obj)
          var text = "";
          if(obj.error === 0){
            //text = '<b>[Success: Pull from HUB]</b><br />';
            text = text + xitrum.escapeHtml(JSON.stringify(obj.msgs)) + '<br />';
          } else {
            text = '<b style="color:red">[Fail: Pull from HUB]</b>'+obj.error+'<br />';
          }
          xitrum.appendAndScroll('#output', text);
        }
        socket.send(JSON.stringify(initRequest));
        counter++;
      };

      socket.onclose = function(event) {
        var text = '<b>[Socket is closed]</b><br />';
        xitrum.appendAndScroll('#output', text);
        $('#controller').hide();
      };

      socket.onmessage = function(event) {
        var obj = JSON.parse(event.data);
        var text = "";
        if (obj.tag === "system") {
          //text = '<b>[SYSTEM MESSAGE from HUB]</b><br />';
        } else if (obj.tag === "joinMsg") {
          //text = '<b>[JOIN MESSAGE from HUB]</b><br />';
          text = text + xitrum.escapeHtml(JSON.stringify(obj.senderName)) + ' Joined<br />';
        } else if (obj.tag === "leaveMsg") {
          //text = '<b>[LEAVE MESSAGE from HUB]</b><br />';
          text = text + xitrum.escapeHtml(JSON.stringify(obj.senderName)) + ' Left<br />';
        } else {
          //text = '<b>[MESSAGE from '+ obj.senderId +' via HUB]</b><br />';
          text = text + xitrum.escapeHtml(JSON.stringify(obj.msg)) + '<br />';
        }
        xitrum.appendAndScroll('#output', text);
        if (typeof callbacks[obj.seq] === "function") callbacks[obj.seq](obj);
      };
    };
    initSocket();
    """
  )
